body{
	width:100%;
	min-height:100vh;
	margin:0;
	padding:0;
	font-family:'Roboto',sans-serif;

}

h1{
	width:100%;
	margin:0;
	padding:25px;
	background-color: #f7b817;
}


p{
	color:#878787;
	width: 90vw;
	margin:1em 2em;
	padding: 1em auto;
}
