<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - AEROLÌNEA</title>
	<link href="../css/aerolinea.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
	<h1>AEROLINEA</h1>
</header>
<section class="container">
	<section>
		<h3>Tags</h3>
		<div class="first_class_tag">
			<p>Primera Clase</p>
		</div>
		<div class="economic_class_tag">
			<p >Clase Económica</p>
		</div>
	</section>
	<section>
		<h2>Status de los asientos</h2>
		<div id="seats"></div>
		<div>
			<button type="button" id="btn">Reservar Asiento</button>
		</div>
		</section>
		<section id="tickets"></section>
	</section>
	<div>
		<a href="../index.html" target="_blank" class='btn2'>Volver a Ejercicios Prácticos</a>
	</div>
	<script type="text/javascript" src="../js/aerolinea.js"></script>

</body>
</html>
