<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - ANIMACION DOM</title>
	<link href="../css/animacion.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <h1 class="title">ANIMACION DOM</h1>
</header>
  <section class="container">
		<table>
				<tbody>
						<tr>
								<td id="uno">1</td>
								<td id="dos">2</td>
								<td id="tres">3</td>
								<td id="cuatro">4</td>
						</tr>
						<tr>
								<td id="cinco">5</td>
								<td id="seis">6</td>
								<td id='siete'>7</td>
								<td id="ocho">8</td>
						</tr>
						<tr>
								<td id="nueve">9</td>
								<td id="diez">10</td>
								<td id="once">11</td>
								<td id="doce">12</td>
						</tr>
				</tbody>
		</table>

	</section>

	 <div>
		 <a href="../index.html" target="_blank" class='btn2'>Volver a Ejercicios Prácticos</a>
	 </div>
	<script type="text/javascript" src="../js/animacion.js"></script>
</body>
</html>
