<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SPRINT 02 - EJERCICIOS -BANDERAS</title>
	<link href="../css/banderas.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>BANDERAS</h1>
		<div class="partOne">
			<h2>Parte 01 </h2>
			<p class="yellowFlag">Laboratoria</p>
			<p class="darkFlag">es</p>
			<p class="yellowFlag">TRANSFORMACIÓN</p>
		</div>
		<a href="banderas01.html" target="_blank" class='btn'>Ver Banderas 01</a>
		<div class="partTwo">
			<h2>Parte 02 </h2>
			<p class="yellowFlag">Laboratoria</p>
			<p class="darkFlag">es</p>
			<p class="yellowFlag">TRANSFORMACIÓN</p>
		</div>
		<a href="banderas02.html" target="_blank" class='btn'>Ver Banderas 02</a>
		<div class="partThree">
			<h2>Parte 03 </h2>
			<p class="yellowFlag">Laboratoria</p>
			<p class="darkFlag">es</p>
			<p class="yellowFlag">TRANSFORMACIÓN</p>
		</div>
		<a href="banderas03.html" target="_blank" class='btn'>Ver Banderas 03</a>
		<div class="partFour">
			<h2>Parte 04 </h2>
			<p class="yellowFlag">Laboratoria</p>
			<p class="darkFlag">es</p>
			<p class="yellowFlag">TRANSFORMACIÓN</p>
		</div>
		<a href="banderas04.html" target="_blank" class='btn'>Ver Banderas 04</a>
		<div>
			<a href="../index.html" target="_blank" class='btn2'>Volver a Ejercicios Prácticos</a>
		</div>
</body>
</html>
