<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - BUSCAMINAS</title>
	<link href="../css/buscaminas.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>BUSCAMINAS</h1>
	<section id="container">
    <p id="note"></p>
		<p id="message"></p>
    <table class="board board-js">
        <tr data-row="1">
            <td data-column="1"></td>
            <td data-column="2"></td>
            <td data-column="3"></td>
            <td data-column="4"></td>
        </tr>
        <tr data-row="2">
            <td data-column="1"></td>
            <td data-column="2"></td>
            <td data-column="3"></td>
            <td data-column="4"></td>
        </tr>
        <tr data-row="3">
            <td data-column="1"></td>
            <td data-column="2"></td>
            <td data-column="3"></td>
            <td data-column="4"></td>
        </tr>
        <tr data-row="4">
            <td data-column="1"></td>
            <td data-column="2"></td>
            <td data-column="3"></td>
            <td data-column="4"></td>
        </tr>
    </table>
    <button id="restart">Volver a empezar</button>
	</section>
	<div>
		<a href="../index.html" target="_blank" class='btn2'>Volver a Ejercicios Prácticos</a>
	</div>
	<script type="text/javascript" src="../js/buscaminas.js"></script>
</body>
</html>
