<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - CAPTCHA </title>
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
	<link href="../css/captcha.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>CAPTCHA</h1>
	<section class="container">
	  <section class="designContainer">
	  <div>
	    <input type="text" id="mainCaptcha"/>
	  </div>
	  <div>
	    <input type="text" id="txtInput"/>
	    <a onclick="CheckValidCaptcha()" href="#"><i class="fa fa-check fa-2x" aria-hidden="true"></i></a>
	    <a onclick="generateCaptcha()" href="#"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
	  </section>
	  <script type="text/javascript" src="js/app.js"></script>
	</section>
	<div>
		<a href="../index.html" target="_blank" class='btn2'>Volver a Ejercicios Prácticos</a>
	</div>
	<script type="text/javascript" src="../js/captcha.js"></script>
</body>
</html>
