<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - MENU DROP DOWN</title>
	<link href="../css/menu-drop-down.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>MENU DROP DOWN</h1>




<section class="container">
		<nav id="nav-menu">
			<ul>
				<li id="dpd-animals" class="submenu">ANIMALS
					<ul class="itemlist hide">
						<li class="item"><a href="#">Cat</a></li>
						<li class="item"><a href="#">Dog</a></li>
						<li class="item"><a href="#">Horse</a></li>
						<li class="item"><a href="#">Cow</a></li>
						<li class="item"><a href="#">Pig</a></li>
					</ul>
				</li>
				<li id="dpd-names" class="submenu">NAMES
					<ul class="itemlist hide">
						<li class="item"><a href="#">Kevin</a></li>
						<li class="item"><a href="#">Jim</a></li>
						<li class="item"><a href="#">Andy</a></li>
					</ul>
				</li>
				<li id="dpd-things" class="submenu">THINGS
					<ul class="itemlist hide">
						<li class="item"><a href="#">Bench</a></li>
						<li class="item"><a href="#">Pizza</a></li>
						<li class="item"><a href="#">Honda</a></li>
						<li class="item"><a href="#">Space</a></li>
						<li class="item"><a href="#">Apple</a></li>
						<li class="item"><a href="#">Liver</a></li>
						<li class="item"><a href="#">Brass</a></li>
					</ul>
				</li>
				<li id="dpd-movies" class="submenu">MOVIES
					<ul  class="itemlist hide">
						<li class="item"><a href="#">Godzilla</a></li>
						<li class="item"><a href="#">Man on Wire</a></li>
						<li class="item"><a href="#">Spirited Away</a></li>
						<li class="item"><a href="#">Interestellar</a></li>
					</ul>
				</li>
			</ul>
		</nav>
</section>
<div>
	<a href="../index.html" target="_blank" class='btn2'>Volver a Ejercicios Prácticos</a>
</div>



	<script type="text/javascript" src="../js/menu-drop-down.js"></script>
</body>
</html>
