<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - MENU HAMBURGUESA</title>
	<link href="../css/menu-hamburguesa.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>MENU HAMBURGUESA</h1>

	<div id="nav-menu">
	 <button id="btn">
	 	<div class="bar"></div>
	 	<div class="bar"></div>
	 	<div class="bar"></div>
	 </button>
	 <nav id="options-menu" class="disabled-menu">
	 	<ul>
	 		<li>
	 			<a href="#">Opción 1</a>
	 		</li>
	 		<li>
	 			<a href="#">Opción 2</a>
	 		</li>
	 		<li>
	 			<a href="#">Opción 3</a>
	 		</li>
	 		<li>
	 			<a href="#">Opción 4</a>
	 		</li>
	 		<li>
	 			<a href="#">Opción 5</a>
	 		</li>
	 	</ul>
	 </nav>
	</div>


	<div>
		<a href="../index.html" target="_blank" class='btn2'>Volver a Ejercicios Prácticos</a>
	</div>
	<script type="text/javascript" src="../js/menu-hamburguesa.js"></script>
</body>
</html>
