<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - MINI ZOO</title>
	<link href="../css/mini-zoo.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>MINI ZOO</h1>
	  <section id="container">
			<div>
				<select id="menu">
					<option data-filter="normal" value="original">Original</option>
					<option data-filter="sepia" value="sepia">Sepia</option>
					<option data-filter="gray" value="bw">Blanco y negro</option>
					<option data-filter="invert" value="inv">Invertir Colores</option>
				</select>
			</div>
			<div class="contenedor-img">
				<img src="../assets/images/mini-zoo-1.jpg">
			</div>
			<div class="contenedor-img">
				<img src="../assets/images/mini-zoo-2.jpg">
			</div>
			<div class="contenedor-img">
				<img src="../assets/images/mini-zoo-3.jpg">
			</div>
			<div class="contenedor-img">
				<img src="../assets/images/mini-zoo-4.jpg">
			</div>
			<div class="contenedor-img">
				<img src="../assets/images/mini-zoo-5.jpg">
			</div>
			<div class="contenedor-img">
				<img src="../assets/images/mini-zoo-6.jpg">
			</div>
	  </section>
		<div>
			<a href="../index.html" target="_blank" class='btn2'>Volver a Ejercicios Prácticos</a>
		</div>
	<script type="text/javascript" src="../js/mini-zoo.js"></script>
</body>
</html>
