<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - TABS</title>
	<link href="../css/tabs.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>TABS</h1>
  <main class="tabs-menu">
    <section class="tabs">
      <ul>
        <li><button class="tabBtn" type="button" name="button" data-tab-selected="tab01">TAB I</button>
        <li><button class="tabBtn" type="button" name="button" data-tab-selected="tab02">TAB II</button>
        <li><button class="tabBtn" type="button" name="button" data-tab-selected="tab03">TAB III</button>
      </ul>
    </section>
    <article id="tab1" class="tabcontent">
      <h3 class="tab-title"> Tìtulo 1</h3>
      <p class="tab-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu facilisis nunc, a placerat nisi. Vestibulum ac risus gravida, aliquam est nec, facilisis diam. Cras tellus ligula, congue at rutrum sed, facilisis sagittis neque. Integer orci mi, vulputate sit amet mollis at, dignissim ac arcu. Morbi elit felis, egestas sed molestie sed, gravida et leo. Mauris consequat sem eu risus blandit, in fringilla tellus facilisis. In sodales sit amet leo sed dictum.</p>
    </article>
    <article id="tab2" class="tabcontent">
      <h3 class="tab-title">Tìtulo 2</h3>
      <p class="tab-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eget consequat tellus. Maecenas at porta velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In velit elit, pellentesque a porta id, pretium sit amet orci. Maecenas eu viverra sapien, a hendrerit metus. Phasellus hendrerit nunc nunc, vitae pharetra odio vulputate vel.</p>
    </article>
    <article id="tab3" class="tabcontent">
      <h3 class="tab-title">Tìtulo 3</h3>
      <p class="tab-description">Donec suscipit lacinia tortor. Sed et lobortis dui. Integer tristique ornare enim vel euismod. Vivamus non sapien urna. Donec in tristique est. Suspendisse potenti. Nullam venenatis nulla eget fringilla euismod. Morbi rhoncus lorem eget neque tincidunt dapibus viverra eu nisi. Cras ultrices enim et rutrum pellentesque. Vestibulum vestibulum eleifend orci, a consectetur sapien rutrum in. Phasellus eu libero in risus vulputate sodales. Aliquam vulputate augue a lectus rhoncus fringilla. Integer sit amet enim ante. Phasellus at interdum felis. Donec vitae congue eros. Maecenas nec feugiat massa.</p>
    </article>
	 </main>
	 <div>
		 <a href="../index.html" target="_blank" class='btn2'>Volver a Ejercicios Prácticos</a>
	 </div>
	<script type="text/javascript" src="../js/tabs.js"></script>
</body>
</html>
