body{
	width:100%;
	min-height:100vh;
	margin-left:10px;
	padding:0;
	font-family:'Roboto',sans-serif;
	font-style:normal;
	font-weight:300;
}
h1{
	width:100%;
	margin:0;
	padding:25px;
	background-color: #f7b817;
	margin-bottom: 60px;
}

p{
	font-family: 'Times-New-Roman';
	font-size: 18px;
	padding: 10px;
	margin: 8px;
}

.yellowFlag{
	background-color: #f7b617;
	height: 120px;
}

.darkFlag{
	background-color: #2b2b2b;
	color:#fff;
	height: 120px;

}



.btn {
	background: #f7b817;
  background-image: -webkit-linear-gradient(top, #f7b817, #f7b750);
  background-image: -moz-linear-gradient(top, #f7b817, #f7b750);
  background-image: -ms-linear-gradient(top, #f7b817, #f7b750);
  background-image: -o-linear-gradient(top, #f7b817, #f7b750);
  background-image: linear-gradient(to bottom, #f7b817, #f7b750);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin:40px;
  text-decoration: none;
 	display: block;
 	position: relative;
	text-align: center;
}

.btn:hover {
  background: #ffa507;
  color:#000;
  font-weight: 700;
  text-decoration: none;
}
